.container{
    background-color: rgb(167, 22, 22);
    width: 1300px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nossa_loja{
    width: 500px;
    height: 350px;
    background-color: rgba(168, 168, 168, 0.774);
}

h1{
    font-size: 30px;
    margin-left: 30px;
    color: white;
}

p{
    font-size: 20px;
    margin-left: 30px;
    color: white;
}

.viola{
    width: 500px;
    height: 350px;
    background-image: url(../assets/img/loja.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}